<h1>Subir Imagen</h1>
<form action="/uploads" method="post" enctype="multipart/form-data">
    <input type="file" name="image" required>
    <button type="submit">Subir</button>
</form>
<a href="/">Ver imágenes</a>
